$primary-blue:rgb(0, 59, 85);
$primary-blue-1:rgb(0, 56, 84);
$sec-blue:rgb(0, 89, 128);
$greenish:rgb(128, 191, 183);
$gray:rgb(224, 224, 224);
$header:56px;
$header-alt:50px;
$header1:26px;
$header-alt:rgb(11, 135, 161);
$text:25px;
$text-alt:16px;
$bg-alt:rgb(11, 135, 161);
$bg-alt-1:rgb(108, 175, 166);
$desktop-header:80px;
$header-alt:40px;
$buttons-desk:20px;


a {
    text-decoration: none;
}
* {
    padding:0;
    margin:0;
}

body, html {
    height:100%;
}



body {
    font-family:Poppins;
 
}


@font-face {
    font-family: Poppins;
    src: url(/Poppins-Regular.ttf);
  }

  .navbar {
     



  

    z-index:201;
        height:12% !important;
      width:100%;
      position:fixed;
      top:0;
      display:flex;
      flex-direction:row;
      background-color:rgba(0, 59, 85, 0.9);
      .sub:last-child {
        
        justify-content: flex-end;
          
      }
      .sub {
          display:flex;
          justify-content:flex-start;
          align-items: center;
          width:50%;
          height:100%;
          padding-left:2rem;
        
          
          img {
              margin-top:1rem;
          }

          .nav-mobile {
              display:flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              padding-right:2rem;
              height:100%;
              width:100%;
              .bar {
                  height:0.1rem;
                  width:2rem;
                  margin:0.2rem;
                  background-color:$greenish;
                  opacity:0.8;
              }

              .bar:not(:first-child):not(:last-child) {
                  width:1rem;
                  opacity:0.6;
              }
          }
         
         
        }
     

            .nav-links {
               
                display:none;
            }
        
            img {
                height:40px !important;
            }
        
      }
   
  

  .masthead {
    height:100%;
    background:$primary-blue-1;
    display:flex;
    flex-direction:column;  
    position:relative;

    .buttons {
        display:flex;
        flex-direction:column;
        margin-top:2rem;

        a {
            margin-top:1rem;
            margin-left:0 !important;
            color:$greenish;
            border-radius:0.5rem;
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
            
        }

        a:first-child {
            margin-left:0 !important;
            background-color:$greenish;
            padding:0.2rem 0.5rem 0.2rem 0.5rem;
            color:white;
            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */
        }
    }

  
    .sub {
        padding-top:6rem;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height:50%;

            p {
                font-size:$text;
                color:white;
                opacity:0.8;
                animation: fadein 2s;
                -moz-animation: fadein 2s; /* Firefox */
                -webkit-animation: fadein 2s; /* Safari and Chrome */
                -o-animation: fadein 2s; /* Opera */
         
                
            }
        
            h1 {
                color:$greenish;
                font-size:$header;
                opacity:0.8;
                animation: fadein 2s;
                -moz-animation: fadein 2s; /* Firefox */
                -webkit-animation: fadein 2s; /* Safari and Chrome */
                -o-animation: fadein 2s; /* Opera */
                animation-iteration-count: 1;
            }

            
        
        img {
            position:absolute;
            bottom:0;
            width:100%;
        }
    }
  }


  .img-part {
      img {
        width:100%;
      }
  }

  .welcome {

    text-align: center;
      padding-bottom:2rem;
      background-color:white;

      h1 {
          padding-left:2rem;
          padding-right:2rem;
          text-align: left;
          color:$primary-blue;
          font-size:$header1;
      }
      
      .subDesktop {
          display:none;
      }

      .sub {
 
          display:flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items:flex-start;
          padding-left:2rem;
          padding-right:2rem;

          h1 {
              text-align: left;
              font-size:$header-alt;
              color:$header-alt;
          }

          p {
              text-align: left;
              opacity:0.8;
              margin-top:1rem;
              
              
          }

          .aboutUs {
              background-color:$bg-alt;
              color:white;
              padding:0.5rem 0.7rem 0.5rem 0.7rem;
              margin-top:1rem;
              border-radius:0.5rem;
          }
       
      }

   

  }

  :root {
    --gutter: 10px;
  }
  
  .app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
  }
  
  .app > * {
    grid-column: 2 / -2;
  }
  
  .app > .full {
    grid-column: 1 / -1;
  }
  
  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }
  
  .hs:before,
  .hs:after {
    content: '';
    width: 10px;
  }
  
  
  /* Demo styles */
  

  .cards {
      padding-bottom:3rem;
  }
  


  .app {
    overflow-y: scroll;
  }
  


  .item {
    scroll-snap-align: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 8px;
    color:#222222;
    background-position: top;
    font-size:1.5rem;
    font-family:raleway;
    color:white;

    .text {
      margin-top:1rem;
    }
    


  }

  .lm {
      margin-bottom:-5px;
  }
  
  
  
  .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  
   
  .message {
     
      padding:2rem;
      height:30%;
      text-align: center;
      background-color:$bg-alt;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: left;


        p {
            color:white;
            opacity:0.8;
            font-size:$text;
        }
  }

 
  .services {
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: flex-start;
      
      padding-bottom:2rem;

     

      .header {
          p,h1 {
              padding-left:2rem;
          }
      }
      

      .wrapper {
          margin-top:2rem;
      }

      h1 {
    
          font-size:$header1;
    
      }

  

      h1, p {
          color:$primary-blue;
         
      }

      img {
          height:80px;
          width:80px;

      }

      .icon {
          display:flex;
          flex-direction:row;
          justify-content: flex-start;
          align-items:center;
          width:100%;
            p {
                font-size: 1.5rem;
      }
            .image {
                width:30%;
                display:flex;
             
            }

            .text {
                width:70%;
                margin-left:1rem;
             
            }
       }

       .icon1 {
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items:center;
        width:100%;
        
          p {
              font-size: 1.5rem;
    }
          .image {
              width:30%;
              justify-content: flex-start;
           
          }

          .text {
              width:70%;
              margin-left:1rem;

                p {
                    font-size:$text-alt;
                    opacity:0.8;
                }
          }
     }


      .wrapper {
          display:flex;
          flex-direction:column;
   ;
            .text {
                width:70%;
            }
            .service {

              
                display:flex;
                flex-direction:column;
                justify-content: flex-start;
                align-items:flex-start;
                text-align:left;
                padding:2rem;

                a {
                    opacity:0.8;
                    background-color:$bg-alt;
                    padding:0.2rem 0.5rem 0.2rem 0.5rem;
                    border-radius:0.5rem;
                    opacity:0.8;
                    color:white;
                    
                    
                }


                p {
                    opacity:0.8;
                }
            }
      }
  }

  .footer {
    background: linear-gradient(to right, $bg-alt, $primary-blue);
        padding-top:3rem;
        padding-bottom:3rem;
      background-color:$primary-blue;
      display:flex;
      flex-direction:column;

      .sub {
          height:33.3%;
          width:100%;
          margin:1rem;
      }

       
      ul {
        text-decoration: none;
        list-style: none;
        li {
            text-decoration: none;
            color:white;
            margin:1rem;
            margin-left:0;
            opacity:0.7;
            text-align: left !important;
        }
    }

    .sub {
        padding-left:2rem;
        width:33.3%;
        height:100%;
        display:flex;
        text-align: left;
        align-items: flex-start;
        flex-direction:column;
        justify-content: center;

        .other {
            margin-top:1rem;

            p {
                margin:1rem;
                margin-left:0 !important;
                opacity:0.7;
            }
        }
  

            p {
                color:white;
                text-align: right;
            }
    }

}
  

  .copyright {
      height:5%;
      background: linear-gradient(to right, $bg-alt, $primary-blue);
      justify-content: center;
      display:flex;
      border-top:1px solid rgba(255, 255, 255, 0.2);
      padding-top:2rem;
      padding-bottom:1rem;
      p {
          color:white;
          opacity:0.7;
      }
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:0.8;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:0.8;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:0.8;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity:0.8;
    }
}

.products {
    padding-top:4rem;
    
    h1 {
        font-size:$header1;
    }
    h1 {
        padding-left:2rem;
        margin-bottom:2rem;
        font-size:$text;
        color:$primary-blue;
    }
}

.contact-items {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:5rem;
    padding-top:2rem;
        .sub {
            margin-top:3rem;
        }

        .sub:first-child {
            margin-top:0 !important;
        }
}

.contact-form {
    .form-wrapper {
        display:flex;
        flex-direction:column;
        padding-top:3rem;
        padding-bottom:3rem;
        justify-content: center;
        align-items: center;
            input {
                width:80%;
                margin:0.5rem;
                height:3rem;
                border:none;
                border-bottom:3px solid $greenish;
                font-size:16px;
                padding:10px 0;
                
            }

            textarea {
                width:80%;
                margin-top:2rem;
                font-size:16px;
                border-bottom:3px solid $greenish !important;
                font-family:poppins;
                border:none;
                
            }

            input::placeholder {
                opacity:1;
            }



        
            
            
    }
}

.contact {
    
    background-attachment: fixed;
    .sub {
        display:flex;
        flex-direction:column;
        height:100%;
        justify-content: center;
        padding-left:2rem;
        padding-right:2rem;
            h1, p {
                color:white;
                opacity:0.8;
            }

            p {
                margin-top:1rem;
            }

            h1 {
                color:$greenish;
                z-index:200;
            }
    }

    height:90%;

    position:relative;
    background-color:$primary-blue-1;
    img {
        position:absolute;
        z-index:100;
        width:100%;
        top:0;
    }
}

.fa-chevron-right {
    color:$bg-alt;
}

.dna-items {
    padding-bottom:2rem;
    padding-top:5rem;
  
    .bold {
        font-weight: bold;
        color:$sec-blue;
    }

        .sub {
            padding-left:2rem;
            padding-right:2rem;
         
         
            .item1 {
                margin-top:1rem;
                display:flex;
                .icon {
                    margin-right:0.3rem;
                   
                }
            }
        }

        .sub:last-child {
            margin-top:1rem;
        }

        .sub:last-child {
            margin-top:1rem;
        }
}

.dna {
    background-color:$primary-blue-1;

    height:70%;
    display: flex;
    padding-bottom:5rem;
    padding-top:5rem;

    .sub {
        height:100%;
        display:flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }   

    h1 {
        color:$greenish;
    }

    p {
        color:white;
        opacity:0.8;
    }

    .sub {
        padding-left:2rem;
        padding-right:2rem;
        margin:0 !important;
        z-index:100 !important;
    }

        img {
            position:absolute;
            width:100%;
            top:0;
            z-index:99;
        }
}

.bigger {
    font-size:18px;
    color:$bg-alt;
    font-weight: bold;
}

.aboutContent {
    display:flex;
    flex-direction:column;
    padding-left:2rem;

    .sub {
        margin:2rem;
        margin-left:0 !important;
        margin-right:0 !important;
        padding-right:2rem;
        .icon {
            margin-bottom:1.5rem;
            display:flex;
            align-items: center;

         
        
            p {
                font-size:1.5rem;
                
            }
           .fa-eye, .fa-check-double, .fa-users {
               color:$sec-blue !important;
               margin-right:1rem;
           }

         
        }

        .text {

            a {
                color:red;
                padding-top:2rem !important;
            }
          
        
            p:first-child {
                color:black;
                font-size:1;
                
            }
            
        

        }
    }
}

.aboutHeader {
    
   background-color:$primary-blue !important;
    padding-bottom:5rem;
    .sub {
        padding-top:7rem;
    }
    h1 {
        color:$greenish;
    }

    p {
        margin-top:1rem;
        opacity:0.8;
        line-height: 1.8;
        color:white;
    }
    height:auto;
    .desktopNone {
        position:absolute;
        top:0;
        width:100%;
    }

    
    .sub {
        padding-left:2rem;
        padding-right:2rem;

      
    }
   
}

.flex {
    display:flex !important;
}

#nm {
    z-index:202 !important;
}

.navbar-mobile {
    
    z-index:201 !important;
    
    height:100%;
    width:100%;
    z-index:300;
    position:fixed;
    background:linear-gradient(to top,$sec-blue, $primary-blue-1);
    display:none;
    

    .content {
        padding:2rem;
        display:flex;
        flex-direction:column;
        border:1px solid green;
        height:100%;
        justify-content: center;
    
        .nav-link {
            margin:0.5rem;
            margin-left:0 !important;
            margin-right:0 !important;
            display:flex;
            flex-direction: row;
            align-items: flex-end;
         
            a {
                color:white;
                opacity:0.8;
                font-size: $text;
                margin-left:0.7rem;
            }
        }
    }
    
}


  @media (min-width: 1281px) {

  .dummy {
      padding-left:3rem;
  }

    .navbar-mobile {
        display:none;

    }

    .wrapperContent {
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        background-image:url("bars-white-right.png");
        background-repeat:repeat-y;
        background-position:right;
        background-attachment: fixed;
    }

    .aboutContent {

        width:70%;
        flex-direction:row;
        height:100%;
        align-items: center;
        padding-left:5rem;

       

     
        .sub {
            margin-left:5rem !important;
           

           
        
        }

        .sub:first-child {
            margin-left:0 !important;
        }
    }

    .navbar {
     

      

        z-index:201;
            height:12% !important;
          width:100%;
          position:fixed;
          top:0;
          display:flex;
          flex-direction:row;
          background-color:rgba(0, 59, 85, 0.9);
          .sub:last-child {
              justify-content: flex-end;
              padding-right:5rem;
          }
          .sub {
              display:flex;
              justify-content:flex-start;
              align-items: center;
              width:50%;
              height:100%;
              padding-left:5rem;
              
              img {
                  margin-top:1rem;
              }

              .nav-mobile {
                  display:none;
              }
    
         
    
                .nav-links {
                    display:flex;
                    flex-direction:row;
                        .nav-link {
                            margin:1.5rem;
                            a {
                                color:white;
                                opacity:0.9;
                                transition:100ms ease-in-out;
                            }
    
                            a:hover {
                                color:$greenish;
                                cursor: pointer;
                                transition:100ms ease-in-out;
                            }
                        }
                }
            
                img {
                    height:60px !important;
                }
            
          }
       
      }

    .aboutHeader {

        .aboutContent {
            height:100%;
        }


        height:100%;
        background-image:url("bars-right.png");
        background-color:$primary-blue;
        background-repeat:repeat-y;
        background-position: right;
        background-attachment: fixed;
        padding-top: 0 !important;
        display:flex;
        align-items: center;
        padding:3rem;
        position:relative;
     
        .sub {
            height:100%;
            width:100%;
            display:flex;
            flex-direction:column;
            justify-content: center;
            img {
                display:none !important;
            }
       
        }
        h1 {
            color:$greenish;
            font-size:$header;
        }

        p {
            width:50%;
            color:white;
            opacity:0.8;
            line-height: 1.8;
            margin-top:1rem;
            font-size:$text-alt;
        }
    }

    .bigger {
        font-size:25px;
        color:$bg-alt;
        font-weight: bold;
    }

    .desktopNone {
        display:none !important;
    }

   
    .dna-items {
        background-position: right;
        background-image:url("bars-white-right.png");
        background-repeat:repeat-y; 
        background-attachment: fixed;
        padding-top:5rem;
        padding-bottom:5rem;
        padding-left:3rem;
        font-size:$text-alt;
        .sub {
            width:70%;

        }

        .ss {
            margin-top:1rem;
        }
    }
    .dna {
        height:90%;
        background-image:url("bars-right.png");
        background-color:$primary-blue;
        background-repeat:repeat-y;
        background-position: right;
        background-attachment: fixed;
        padding-top: 0 !important;

        h1 {
            color:$greenish !important;
            font-size:$header;
        }

        p {
            font-size:$text !important;
        }
        .sub {
            width:100%;
            align-items: flex-start;
            justify-content: center !important;
            display:flex;
            flex-direction:column;
            padding-left:5rem;
       
                p, h1 {
                    color:white;
                    opacity:0.8;
                    width:50%;
                }
        }
        img {
            display:none;
            height:100% !important;
        }
    }

    .contact-form {
        height:100%;
        background-image:url("./bars-white-right.png");
        background-repeat:repeat-y;
        background-position: right;
        display:flex;
        flex-direction:column;
        background-attachment: fixed;
    

            .form-wrapper {
                width:50%;
                padding-bottom:5rem;
            }

            .contact-items {
                width:50%;
                
            }
    }

    .contact-items {
        

        flex-direction:row;
       
        .sub {
            width:25%;
            height:100%;
        }
    }

    .contact {
        background-image:url("bars-right.png");
        background-repeat:repeat-y;
        background-position:right;
        background-color:$primary-blue;

        .sub {
            padding-left:5rem;
        }
        h1 {
            font-size:$header;
        }

        h1,p {
            width:60%;
        }

        p {
            font-size:$text;
        }
        img {
            display:none;

        }
    }

    .servicesHeader {
        
        background-image:url("/bars-right.png");
        height:90% !important;
        background-color:$primary-blue !important;
        background-repeat: repeat-y;
        background-position: right;
        flex-direction: row !important;
        padding:0 !important;
        background-attachment: fixed;
   
        .sub:first-child {
            justify-content: center!important;
            align-items: flex-start !important;
            height:100%;

            h1 {
             
                font-size:$header;
                padding-left:3rem;
                color:$greenish;
            }
        }

        .sub {
            height:100% !important;
            width:50%;
            
            
        
            img {
                display:none;
            }
        }

     

    }

    .footer {
        flex-direction:row;
        padding:3rem;

        
        
      
        ul {
            text-decoration: none;
            list-style: none;
            li {
                text-decoration: none;
                color:white;
                margin:1rem;
                margin-left:0;
                opacity:0.7;
            }
        }

        .sub {
            padding-left:2rem;
            width:33.3%;
            height:100%;
            display:flex;
            text-align: left;
            align-items: flex-start;
            flex-direction:column;
            justify-content: center;

            .other {
                margin-top:2rem;

                p {
                    margin:1rem;
                    margin-left:0 !important;
                    opacity:0.7;
                }
            }
      
    
                p {
                    color:white;
                    text-align: right;
                }
        }

    }


      .item {
          background-color:black;
      }
    
      .services {

        .header {
            a {
                margin:0 !important;
                opacity:0.5;
            }
        }
          padding:3rem; 
          padding-bottom:5rem !important;
          align-items: flex-start;

          a {
              margin-left:2rem;
              margin-top:5rem;
          }

          .service {
          
            .icon1 {
                p {
                    margin-left:1rem;
                }

            
            }
         
              .icon {
               
                  p {
                      color:$bg-alt;
                  }
              }

           
          }
     
          h1 {
              color:$primary-blue;
              
          }
          
          p {
              color:black;
              opacity:0.7;
          }

          h1,p {
              padding-left:2rem;
          }

          h1 {
              font-size:$header;
          }

          p {
              font-size:$text;
          }

    
          .wrapper {
              flex-direction:row;
                padding-top:6rem;
              width:100%;

              .text {
                  width:100%;
                  margin-left:0 !important;
               
              }
              
          }
       
      }

      .message {
          height:60%;
          justify-content: flex-start;
          align-items: center;
          display:flex;
          font-size:$header-alt;
          background-image:url("/bars-blue-right.png");
          background-color:$bg-alt;
          background-repeat:repeat-y;
          background-position:right;
          text-align: left;
          padding:3rem;
          background-attachment: fixed;
        
        
          p {
              width:60%;
              padding-left:2rem;
              font-size:$header-alt;
          }
      }

      .products {
          display:none;
      }
      .welcome {

        position:relative;
        height:80%;
    
       
        .aboutUs {
            position:absolute;
            bottom:3rem;
        }

            h1 {
             
                font-size:$header-alt;
                color:$primary-blue;
            }
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          display:flex;
          padding:3rem;
            padding-bottom:7rem !important;
          background-image:url("bars-white-right.png");
          background-repeat: repeat-y;
          background-position:right;
          background-attachment: fixed;
        
          p {
              font-size:18px;
              opacity:0.8;
          }
          h1 {
              font-size:$header-alt;
              margin-bottom:5rem;
              
          }
        .sub {
            flex-direction:row;
            width:80%;
            align-items: flex-start;
                .text-1 {
                
                
                    p {
                        width:80%;
                    }
                    
                }

                .text-1 {
                    width:40%;
                    p {
                        width:80%;
                    }
                    
                }
                
                
                .text-2 {
                    width:50%;
                }
        }
      
      }
    .img-part {
        display:none;
    }
   
  
    .masthead {
       
        height:100%;
        display:flex;
        flex-direction:row;
        padding-left:5rem;
        background-color:$primary-blue;

        .buttons {
           
        flex-direction:row;
        align-items: center;
            
        }
        .text {
            display:flex;
            flex-direction: row;
            p:first-child {
                margin-left:0 !important;
            }

          
            p {
                margin:1rem;
                font-size:$header-alt!important;
            
            }
        }

        .sub:last-child {
            background-image:url("/bars-right.png");
            background-repeat: repeat-y;
            background-position: right;
            background-attachment: fixed;
        }
      
        .sub {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            height:100%;
            width:50%;
            padding-top:0 !important;

            .header {
                margin-bottom:-2rem;
            }
     
    
                p {
                    font-size:$text;
                    color:white;
                    opacity:0.7;
                }
            
                h1 {
                    color:$greenish;
                    font-size:$desktop-header;
                    opacity:0.8;
                }
    
            .buttons {
                margin-top:2rem;
                font-size:$buttons-desk;

                
                
                a {
                 
                    color:$greenish;
                    border-radius:0.5rem;
                    margin-left:0.5rem !important;
                    transition:500ms ease;
                    
                }

               
                a:first-child {
                    margin-left:0 !important;
                    background-color:$greenish;
                    padding:0.5rem 1rem 0.5rem 1rem;;
                    color:white;
                    cursor: pointer;
                }

                a:last-child {
                    margin-left:1.5rem !important;
                }

                a:hover {
                    background-color:$bg-alt-1;
                    transition:100ms ease;
                }
                
                a:last-child:hover {
                    background-color:transparent !important;
                    transition:100ms ease;
                    color:$bg-alt-1;
                    cursor: pointer;
                }
            
            }
            
            img {
                display:none;
            
      
            }
        }
      }

      .consultingHeader {
          display:flex;
          flex-direction:row !important;
          background-image:url("/bars-right.png");
          background-repeat:repeat-y;
          background-position:right;
          background-attachment: fixed;
          .sub:first-child {
              justify-content: flex-start !important;
          }
          .sub {
              width:50% !important;
          }
          img {
              display:none;
          }
      }
      .consultingBody {
        background-image:url("/bars-white-right.png");
        background-repeat:repeat-y;
        background-position: right;
        height:auto !important;
        background-attachment: fixed;
        
          .wrapper1 {
            width:80%;
            padding-top:5rem;
            padding-left:5rem !important;
            p {
                width:60%;
                line-height:1.9  !important;
                font-size:$text-alt;
            }

            h1 {
                margin-bottom:5rem;
                font-size:$header;

            }
          }


          .wrapper2 {
              padding-left:5rem !important;
              padding-top:5rem;
              flex-direction:row !important;
              width:80%;
              flex-wrap: wrap;
              padding-bottom:5rem !important;

            
              
                .sub {
                    width:50%;
                    margin-top:3rem !important;

                    .text {
                        p {
                            font-size:18px;
                            opacity:0.8;
                            width:80%;
                        }
                    }
                    p {
                        width:100%;
                    }
                  
                }
          }
      }
  }

  .servicesHeader {

    
    overflow-x: hidden;
      display:flex;
      flex-direction:column;
      background-color:$primary-blue-1;
      height:50%;
  
      
        .sub {
            height:100%;
            width:100%;
            display:flex;
            flex-direction: column;;
        
        }

        h1 {
            color:$greenish;
            font-size:$header1;
            opacity:0.8;
        }

        .sub:first-child {
            display:flex;
            justify-content: center;
            align-items: flex-start;
            padding-left:2rem;
        }

        img {
            position:absolute;
            top:0;
            width:100%;
        }
        
  }

  .consultingHeader {
    height:70%;
    display:flex;
    flex-direction:column;
    background-color:white;
    
      .sub {
          height:50%;
          width:100%;
      }

      h1 {
          color:white;
          opacity:0.8;
      }

      .sub:first-child {
          display:flex;
          justify-content: flex-start;
          align-items: center;
          
          h1 {
              padding-left:2rem;
          }
      }
      img {
        position:absolute;
        top:0;
        width:100%;
    }

      
}

.consultingBody {
    height:100%;
    display:flex;
    flex-direction:column;
    
    h1 {
        color:$primary-blue;
    }
        .wrapper1 {
            display:flex;
            flex-direction:column;
            padding-left:2rem;
            padding-right:2rem;

                p {
                    margin-top:1rem;
                    line-height: 1.8;
                    opacity:0.7;
                }
        }

        .wrapper2 {
            margin-top:2rem;
            display:flex;
            flex-direction:column;
            padding-left:2rem;
            padding-right:2rem;
            padding-bottom:3rem;
           .sub {
               display:flex;
               flex-direction:column;
               margin-top:2rem;

               .iconRow {
                   display:flex;
                   flex-direction:row;
                   align-items: center;
                 
                    .text {
                        margin-top:0.5rem;
                    }
               }
           }
        }
}