p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  font-family: Poppins;
}

@font-face {
  font-family: Poppins;
  src: url(/Poppins-Regular.ttf);
}

#myBtn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 2%;
  z-index: 999;
  right: 2%;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, from(#0b87a1), to(#80bfb7));
  background: linear-gradient(to left, #0b87a1, #80bfb7);
  border: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.navbar {
  z-index: 201;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(0, 59, 85, 0.9);
}

.navbar .sub:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  padding-left: 2rem;
}

.navbar .sub img {
  margin-top: 1rem;
}

.navbar .sub .nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
}

.navbar .sub .nav-mobile .bar {
  height: 0.2rem;
  width: 2rem;
  margin: 0.2rem;
  background-color: #80bfb7;
  opacity: 0.8;
  border-radius: 20%;
}

.navbar .sub .nav-mobile .bar:not(:first-child):not(:last-child) {
  width: 1rem;
  opacity: 0.6;
}

.navbar .nav-links {
  display: none;
}

.navbar img {
  height: 40px !important;
}

.masthead {
  height: 100%;
  background: #003854;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.masthead .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.masthead .buttons a {
  margin-top: 1rem;
  margin-left: 0 !important;
  color: #80bfb7;
  border-radius: 0.5rem;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.masthead .buttons a:first-child {
  margin-left: 0 !important;
  background-color: #80bfb7;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.masthead .sub {
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50%;
}

.masthead .sub p {
  font-size: 25px;
  color: white;
  opacity: 0.8;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.masthead .sub h1 {
  color: #80bfb7;
  font-size: 56px;
  opacity: 0.8;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.masthead .sub img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.img-part img {
  width: 100%;
}

.welcome {
  text-align: center;
  padding-bottom: 2rem;
  background-color: white;
}

.welcome h1 {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  color: #003b55;
  font-size: 26px;
}

.welcome .subDesktop {
  display: none;
}

.welcome .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.welcome .sub h1 {
  text-align: left;
  font-size: 40px;
  color: 40px;
}

.welcome .sub p {
  text-align: left;
  opacity: 0.8;
  margin-top: 1rem;
}

.welcome .sub .aboutUs {
  background-color: #0b87a1;
  color: white;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

:root {
  --gutter: 10px;
}

.app {
  padding: var(--gutter) 0;
  display: -ms-grid;
  display: grid;
  grid-gap: var(--gutter) 0;
  -ms-grid-columns: var(--gutter) 1fr var(--gutter);
      grid-template-columns: var(--gutter) 1fr var(--gutter);
  -ms-flex-line-pack: start;
      align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: -ms-grid;
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  -ms-grid-columns: 10px;
      grid-template-columns: 10px;
  -ms-grid-rows: minmax(150px, 1fr);
      grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

/* Demo styles */
.cards {
  padding-bottom: 3rem;
}

.app {
  overflow-y: scroll;
}

.item {
  scroll-snap-align: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 8px;
  color: #222222;
  background-position: top;
  font-size: 1.5rem;
  font-family: raleway;
  color: white;
}

.item .text {
  margin-top: 1rem;
}

.lm {
  margin-bottom: -5px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 2rem;
  height: 30%;
  text-align: center;
  background-color: #0b87a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.message p {
  color: white;
  opacity: 0.8;
  font-size: 25px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 2rem;
}

.services a {
  color: #80bfb7;
  cursor: pointer;
}

.services .header p, .services .header h1 {
  padding-left: 2rem;
}

.services .wrapper {
  margin-top: 2rem;
}

.services h1 {
  font-size: 26px;
}

.services h1, .services p {
  color: #003b55;
}

.services img {
  height: 80px;
  width: 80px;
}

.services .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.services .icon p {
  font-size: 1.5rem;
}

.services .icon .image {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .icon .text {
  width: 70%;
  margin-left: 1rem;
}

.services .icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.services .icon1 p {
  font-size: 1.5rem;
}

.services .icon1 .image {
  width: 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services .icon1 .text {
  width: 70%;
  margin-left: 1rem;
}

.services .icon1 .text p {
  font-size: 14px;
  opacity: 0.8;
}

.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .wrapper .text {
  width: 70%;
}

.services .wrapper .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  padding: 2rem;
}

.services .wrapper .service a {
  color: #0b87a1;
  font-size: 1.5rem;
  -webkit-transition: 100 ms ease-in-out;
  transition: 100 ms ease-in-out;
}

.services .wrapper .service a:hover {
  color: #80bfb7;
  font-size: 1.5rem;
  -webkit-transition: 100 ms ease-in-out;
  transition: 100 ms ease-in-out;
}

.services .wrapper .service p {
  opacity: 0.8;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#0b87a1), to(#003b55));
  background: linear-gradient(to right, #0b87a1, #003b55);
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #003b55;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .sub {
  height: 33.3%;
  width: 100%;
  margin: 1rem;
}

.footer ul {
  text-decoration: none;
  list-style: none;
}

.footer ul li {
  text-decoration: none;
  color: white;
  margin: 1rem;
  margin-left: 0;
  opacity: 0.7;
  text-align: left !important;
}

.footer .sub {
  padding-left: 2rem;
  width: 33.3%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .sub .other {
  margin-top: 1rem;
}

.footer .sub .other p {
  margin: 1rem;
  margin-left: 0 !important;
  opacity: 0.7;
}

.footer .sub p {
  color: white;
  text-align: right;
}

.copyright {
  height: 5%;
  background: -webkit-gradient(linear, left top, right top, from(#0b87a1), to(#003b55));
  background: linear-gradient(to right, #0b87a1, #003b55);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.copyright p {
  color: white;
  opacity: 0.7;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.products {
  padding-top: 4rem;
}

.products h1 {
  font-size: 26px;
}

.products h1 {
  padding-left: 2rem;
  margin-bottom: 2rem;
  font-size: 25px;
  color: #003b55;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.contact-items .sub {
  margin-top: 3rem;
}

.contact-items .sub:first-child {
  margin-top: 0 !important;
}

.contact-form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .form-wrapper input {
  width: 80%;
  margin: 0.5rem;
  height: 3rem;
  border: none;
  border-bottom: 3px solid #80bfb7;
  font-size: 16px;
  padding: 10px 0;
}

.contact-form .form-wrapper textarea {
  width: 80%;
  margin-top: 2rem;
  font-size: 16px;
  border-bottom: 3px solid #80bfb7 !important;
  font-family: poppins;
  border: none;
}

.contact-form .form-wrapper input::-webkit-input-placeholder {
  opacity: 1;
}

.contact-form .form-wrapper input:-ms-input-placeholder {
  opacity: 1;
}

.contact-form .form-wrapper input::-ms-input-placeholder {
  opacity: 1;
}

.contact-form .form-wrapper input::placeholder {
  opacity: 1;
}

.contact {
  background-attachment: fixed;
  height: 90%;
  position: relative;
  background-color: #003854;
}

.contact .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact .sub h1, .contact .sub p {
  color: white;
  opacity: 0.8;
}

.contact .sub p {
  margin-top: 1rem;
}

.contact .sub h1 {
  color: #80bfb7;
  z-index: 200;
}

.contact img {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
}

.fa-chevron-right {
  color: #0b87a1;
}

.dna-items {
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.dna-items .bold {
  font-weight: bold;
  color: #005980;
}

.dna-items .sub {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dna-items .sub .item1 {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dna-items .sub .item1 .icon {
  margin-right: 0.3rem;
}

.dna-items .sub:last-child {
  margin-top: 1rem;
}

.dna-items .sub:last-child {
  margin-top: 1rem;
}

.dna {
  background-color: #003854;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.dna .sub {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.dna h1 {
  color: #80bfb7;
}

.dna p {
  color: white;
  opacity: 0.8;
}

.dna .sub {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 !important;
  z-index: 100 !important;
}

.dna img {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
}

.bigger {
  font-size: 18px;
  color: #0b87a1;
  font-weight: bold;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
}

.aboutContent .sub {
  margin: 2rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 2rem;
}

.aboutContent .sub .icon {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContent .sub .icon p {
  font-size: 1.5rem;
}

.aboutContent .sub .icon .fa-eye, .aboutContent .sub .icon .fa-check-double, .aboutContent .sub .icon .fa-users {
  color: #005980 !important;
  margin-right: 1rem;
}

.aboutContent .sub .text a {
  color: red;
  padding-top: 2rem !important;
}

.aboutContent .sub .text p:first-child {
  color: black;
  font-size: 1;
}

.aboutHeader {
  background-color: #003b55 !important;
  padding-bottom: 5rem;
  height: auto;
}

.aboutHeader .sub {
  padding-top: 7rem;
}

.aboutHeader h1 {
  color: #80bfb7;
}

.aboutHeader p {
  margin-top: 1rem;
  opacity: 0.8;
  line-height: 1.8;
  color: white;
}

.aboutHeader .desktopNone {
  position: absolute;
  top: 0;
  width: 100%;
}

.aboutHeader .sub {
  padding-left: 2rem;
  padding-right: 2rem;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#nm {
  z-index: 202 !important;
}

.navbar-mobile {
  z-index: 201 !important;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#005980), to(#003854));
  background: linear-gradient(to top, #005980, #003854);
  display: none;
}

.navbar-mobile .menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-mobile .menu .menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.navbar-mobile .content {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid green;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-mobile .content .PK {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.navbar-mobile .content .nav-link {
  margin: 0.5rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar-mobile .content .nav-link .mlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-mobile .content .nav-link .mlink span {
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  font-size: 1.7rem;
  opacity: 0.8;
}

.navbar-mobile .content .nav-link .zastava {
  height: 30px !important;
  width: 30px;
  margin-bottom: 0.8rem;
}

.navbar-mobile .content .nav-link a {
  color: white;
  opacity: 0.8;
  font-size: 25px;
  margin-left: 0.7rem;
}

.aboutContent1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
}

.aboutContent1 .sub .bold {
  color: #005980;
  font-size: 25px;
}

.aboutContent1 .sub p {
  margin-top: 1rem;
}

.aboutContent2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
}

.aboutContent2 .bold {
  color: #005980;
  font-size: 25px;
}

.aboutContent2 .sub p {
  margin-top: 1rem;
}

.aboutContent2 .sub ul {
  margin-top: 2rem;
}

.aboutContent2 .sub li {
  margin: 0.5rem;
  color: #005980;
}

.aboutContent2 .sub li span {
  color: black;
}

.servicesContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.servicesContact .sub {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem;
}

.servicesContact .sub {
  width: 100%;
}

.servicesContact .sub .header p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #005980;
}

.servicesContact .sub .header .fa-envelope, .servicesContact .sub .header .fa-globe, .servicesContact .sub .header .fa-building, .servicesContact .sub .header .fa-phone {
  color: #005980;
}

.servicesContact .sub .text {
  margin-top: 1rem;
}

@media (min-width: 1281px) {
  .masthead .sub .text p {
    font-size: 25px !important;
  }
}

@media (min-width: 992px) {
  .servicesContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url(/bars-white-right.png);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .servicesContact .sub {
    width: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .servicesContact .sub .header p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #005980;
  }
  .servicesContact .sub .header .fa-envelope, .servicesContact .sub .header .fa-globe, .servicesContact .sub .header .fa-building, .servicesContact .sub .header .fa-phone {
    color: #005980;
  }
  .servicesContact .sub .text {
    margin-top: 1rem;
  }
  .aboutContent1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url("bars-white-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
  }
  .aboutContent1 .sub:first-child {
    width: 35%;
  }
  .aboutContent1 .sub {
    width: 50%;
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutContent1 .sub .bold {
    font-size: 40px !important;
  }
  .aboutContent1 .sub p {
    font-size: 14px;
    width: 60%;
    line-height: 1.8;
  }
  .aboutContent2 {
    background-image: url("bars-white-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0 !important;
  }
  .aboutContent2 .sub:first-child {
    width: 35%;
  }
  .aboutContent2 .sub {
    width: 50%;
    padding: 3rem;
  }
  .aboutContent2 .sub .bold {
    font-size: 40px !important;
  }
  .aboutContent2 .sub p {
    font-size: 14px;
    width: 60%;
  }
  .aboutContent2 .sub p:last-child {
    line-height: 1.8;
  }
  .dummy {
    padding-left: 3rem;
  }
  .navbar-mobile {
    display: none;
  }
  .wrapperContent {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("bars-white-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
  }
  .aboutContent {
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5rem;
  }
  .aboutContent .sub {
    margin-left: 5rem !important;
  }
  .aboutContent .sub:first-child {
    margin-left: 0 !important;
  }
  .navbar {
    z-index: 201;
    height: 12% !important;
    width: 100%;
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #003b55;
  }
  .navbar .sub:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 5rem;
  }
  .navbar .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 5rem;
  }
  .navbar .sub img {
    margin-top: 1rem;
  }
  .navbar .sub .nav-mobile {
    display: none;
  }
  .navbar .sub .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .sub .nav-links .nav-link:hover .dropdown {
    opacity: 1;
  }
  .navbar .sub .nav-links .nav-link {
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .sub .nav-links .nav-link .zastava {
    height: 30px !important;
    width: 30px;
    margin-bottom: 0.8rem;
  }
  .navbar .sub .nav-links .nav-link .dropdown {
    position: absolute;
    color: white;
    background-color: #003b55;
    top: 60%;
    padding: 2rem 3rem 1rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    border-radius: 0 0 7% 7%;
    width: 10%;
    height: auto;
  }
  .navbar .sub .nav-links .nav-link .dropdown a {
    font-size: 1rem;
    opacity: 0.8;
    margin: 0.5rem 0;
  }
  .navbar .sub .nav-links .nav-link a {
    color: white;
    opacity: 0.9;
    -webkit-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    font-size: 14px;
  }
  .navbar .sub .nav-links .nav-link a:hover {
    color: #80bfb7;
    cursor: pointer;
    -webkit-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
  }
  .navbar .sub img {
    height: 60px !important;
  }
  .aboutHeader {
    height: 100%;
    background-image: url("bars-right.png");
    background-color: #003b55;
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    padding-top: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
    position: relative;
  }
  .aboutHeader .aboutContent {
    height: 100%;
  }
  .aboutHeader .sub {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutHeader .sub img {
    display: none !important;
  }
  .aboutHeader h1 {
    color: #80bfb7;
    font-size: 56px;
  }
  .aboutHeader p {
    width: 50%;
    color: white;
    opacity: 0.8;
    line-height: 1.8;
    margin-top: 1rem;
    font-size: 14px;
  }
  .bigger {
    font-size: 25px;
    color: #0b87a1;
    font-weight: bold;
  }
  .desktopNone {
    display: none !important;
  }
  .dna-items {
    background-position: right;
    background-image: url("bars-white-right.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    font-size: 14px;
  }
  .dna-items .sub {
    width: 70%;
  }
  .dna-items .ss {
    margin-top: 1rem;
  }
  .dna {
    height: 90%;
    background-image: url("bars-right.png");
    background-color: #003b55;
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    padding-top: 0 !important;
  }
  .dna h1 {
    color: #80bfb7 !important;
    font-size: 56px;
  }
  .dna p {
    font-size: 25px !important;
  }
  .dna .sub {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5rem;
  }
  .dna .sub p, .dna .sub h1 {
    color: white;
    opacity: 0.8;
    width: 50%;
  }
  .dna img {
    display: none;
    height: 100% !important;
  }
  .contact-form {
    background-image: url("./bars-white-right.png");
    background-repeat: repeat-y;
    background-position: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-attachment: fixed;
  }
  .contact-form .form-wrapper {
    width: 50%;
    padding-bottom: 5rem;
  }
  .contact-form .contact-items {
    width: 50%;
  }
  .contact-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-items .sub {
    width: 25%;
    height: 100%;
  }
  .contact {
    background-image: url("bars-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-color: #003b55;
  }
  .contact .sub {
    padding-left: 5rem;
  }
  .contact h1 {
    font-size: 56px;
  }
  .contact h1, .contact p {
    width: 60%;
  }
  .contact p {
    font-size: 25px;
  }
  .contact img {
    display: none;
  }
  .servicesHeader {
    background-image: url("/bars-right.png");
    height: 90% !important;
    background-color: #003b55 !important;
    background-repeat: repeat-y;
    background-position: right;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding: 0 !important;
    background-attachment: fixed;
  }
  .servicesHeader .sub:first-child {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    height: 100%;
  }
  .servicesHeader .sub:first-child h1 {
    font-size: 56px;
    padding-left: 3rem;
    color: #80bfb7;
  }
  .servicesHeader .sub {
    height: 100% !important;
    width: 50%;
  }
  .servicesHeader .sub img {
    display: none;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem;
  }
  .footer ul {
    text-decoration: none;
    list-style: none;
  }
  .footer ul li {
    text-decoration: none;
    color: white;
    margin: 1rem;
    margin-left: 0;
    opacity: 0.7;
  }
  .footer .sub {
    padding-left: 2rem;
    width: 33.3%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .sub .other {
    margin-top: 2rem;
  }
  .footer .sub .other p {
    margin: 1rem;
    margin-left: 0 !important;
    opacity: 0.7;
  }
  .footer .sub p {
    color: white;
    text-align: right;
  }
  .item {
    background-color: black;
  }
  .services {
    padding: 3rem;
    padding-bottom: 5rem !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services .header a {
    margin: 0 !important;
    opacity: 0.5;
  }
  .services a {
    margin-left: 2rem;
    margin-top: 5rem;
  }
  .services .service {
    width: 25%;
  }
  .services .service .icon1 p {
    margin-left: 1rem;
    font-size: 15px !important;
  }
  .services .service .icon p {
    color: #0b87a1;
  }
  .services h1 {
    color: #003b55;
  }
  .services p {
    color: black;
    opacity: 0.7;
  }
  .services h1, .services p {
    padding-left: 2rem;
  }
  .services h1 {
    font-size: 56px;
  }
  .services p {
    font-size: 25px;
  }
  .services .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 3rem;
    width: 100%;
  }
  .services .wrapper .text {
    width: 100%;
    margin-left: 0 !important;
  }
  .message {
    height: 60%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
    background-image: url("/bars-blue-right.png");
    background-color: #0b87a1;
    background-repeat: repeat-y;
    background-position: right;
    text-align: left;
    padding: 3rem;
    background-attachment: fixed;
  }
  .message p {
    width: 60%;
    padding-left: 2rem;
    font-size: 40px;
  }
  .products {
    display: none;
  }
  .welcome {
    position: relative;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem;
    padding-bottom: 7rem !important;
    background-image: url("bars-white-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
  }
  .welcome .aboutUs {
    position: absolute;
    bottom: 3rem;
  }
  .welcome h1 {
    font-size: 40px;
    color: #003b55;
  }
  .welcome p {
    font-size: 18px;
    opacity: 0.8;
  }
  .welcome h1 {
    font-size: 40px;
    margin-bottom: 5rem;
  }
  .welcome .sub {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .welcome .sub .text-1 p {
    width: 80%;
  }
  .welcome .sub .text-1 {
    width: 40%;
  }
  .welcome .sub .text-1 p {
    width: 80%;
  }
  .welcome .sub .text-2 {
    width: 50%;
  }
  .img-part {
    display: none;
  }
  .masthead {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5rem;
    background-color: #003b55;
  }
  .masthead .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .masthead .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0.5rem;
    width: 100%;
  }
  .masthead .text p:first-child {
    margin-left: 0 !important;
  }
  .masthead .text p {
    width: auto;
    font-size: 18px !important;
    margin: 0.2rem;
    margin-top: 1rem;
  }
  .masthead .sub:last-child {
    background-image: url("/bars-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
  }
  .masthead .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    height: 100%;
    width: 50%;
    padding-top: 0 !important;
  }
  .masthead .sub .header {
    margin-bottom: -2rem;
  }
  .masthead .sub p {
    font-size: 25px;
    color: white;
    opacity: 0.7;
  }
  .masthead .sub h1 {
    color: #80bfb7;
    font-size: 80px;
    opacity: 0.8;
  }
  .masthead .sub .buttons {
    margin-top: 2rem;
    font-size: 20px;
  }
  .masthead .sub .buttons a {
    color: #80bfb7;
    border-radius: 0.5rem;
    margin-left: 0.5rem !important;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }
  .masthead .sub .buttons a:first-child {
    margin-left: 0 !important;
    background-color: #80bfb7;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    cursor: pointer;
  }
  .masthead .sub .buttons a:last-child {
    margin-left: 1.5rem !important;
  }
  .masthead .sub .buttons a:hover {
    background-color: #6cafa6;
    -webkit-transition: 100ms ease;
    transition: 100ms ease;
  }
  .masthead .sub .buttons a:last-child:hover {
    background-color: transparent !important;
    -webkit-transition: 100ms ease;
    transition: 100ms ease;
    color: #6cafa6;
    cursor: pointer;
  }
  .masthead .sub img {
    display: none;
  }
  .consultingHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    background-image: url("/bars-right.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
  }
  .consultingHeader .sub:first-child {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .consultingHeader .sub {
    width: 50% !important;
  }
  .consultingHeader img {
    display: none;
  }
  .consultingBody {
    background-image: url("/bars-white-right.png");
    background-repeat: repeat-y;
    background-position: right;
    height: auto !important;
    background-attachment: fixed;
  }
  .consultingBody .wrapper1 {
    width: 80%;
    padding-top: 9rem;
    padding-left: 5rem !important;
  }
  .consultingBody .wrapper1 p {
    width: 60%;
    line-height: 1.9  !important;
    font-size: 14px;
  }
  .consultingBody .wrapper1 h1 {
    margin-bottom: 5rem;
    font-size: 56px;
  }
  .consultingBody .wrapper2 {
    padding-left: 5rem !important;
    padding-top: 5rem;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 5rem !important;
  }
  .consultingBody .wrapper2 .sub {
    width: 50%;
    margin-top: 3rem !important;
  }
  .consultingBody .wrapper2 .sub .text p {
    font-size: 18px;
    opacity: 0.8;
    width: 80%;
  }
  .consultingBody .wrapper2 .sub p {
    width: 100%;
  }
}

.servicesHeader {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #003854;
  height: 50%;
}

.servicesHeader .sub {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.servicesHeader h1 {
  color: #80bfb7;
  font-size: 26px;
  opacity: 0.8;
}

.servicesHeader .sub:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 2rem;
}

.servicesHeader img {
  position: absolute;
  top: 0;
  width: 100%;
}

.consultingHeader {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.consultingHeader .sub {
  height: 50%;
  width: 100%;
}

.consultingHeader h1 {
  color: white;
  opacity: 0.8;
}

.consultingHeader .sub:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultingHeader .sub:first-child h1 {
  padding-left: 2rem;
}

.consultingHeader img {
  position: absolute;
  top: 0;
  width: 100%;
}

.consultingBody {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.consultingBody h1 {
  color: #003b55;
}

.consultingBody .wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.consultingBody .wrapper1 p {
  margin-top: 1rem;
  line-height: 1.8;
  opacity: 0.7;
}

.consultingBody .wrapper2 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.consultingBody .wrapper2 .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.consultingBody .wrapper2 .sub .iconRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultingBody .wrapper2 .sub .iconRow .text {
  margin-top: 0.5rem;
}
/*# sourceMappingURL=style.css.map */